<div class="container">
    <div class="row text-center mb-5">
        <h1 class="display-5">Profil</h1>
    </div>

    <div class="row mb-5">
        <div class="col col-10 offset-1 col-lg-6 offset-lg-3">
            <%= render @user %>
        </div>
    </div>
</div>
