<% if object.errors.any? %>
<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="alert alert-danger" role="alert">
                <h3>
                    There is <%= pluralize(object.errors.count, "error") %>:
                </h3>
                <ul>
                    <% object.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
<% end %>