<div class="container my-5">
    <div class="p-5 text-center rounded-3" id="jumbotron">
        <h1 class="display-1 text-body-emphasis">Welcome on Portfolio<br /> Crypto App</h1>

        <p class="col-xl-8 mx-auto pt-3 fs-5 text-muted">
            This app allows you to manage your cryptos with simple tools.
        </p>

        <%= button_to "Sign Up", signup_path, method: :get, class:"btn btn-outline-warning btn-light btn-lg px-4 mt-5" %>
    </div>