<div class="container offset-sm-2 mt-5">
    <div class="row mb-3">
        <div class="offset-sm-2">
            <h1 class="display-5">New transaction</h1>
        </div>
    </div>

    <%= render "form", transaction: @transaction %>

    <br>

    <div class="row mb-3">
        <div class="d-flex flex-row offset-sm-2">
            <%= link_to "Back to history", transactions_path, 
                                class: "btn btn-outline-secondary mb-1"
                                %>
        </div>
    </div>
</div>
